# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
*.swp
.DS_Store
.profile

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.cover
*.py,cover
.hypothesis/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.log
htmlcov/
.pytest_cache/
.jupyter/
__pypackages__/

# C++
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib
*.exe
*.out
*.app
*.i
*.ii
*.ll
*.s
*.su
*.d
*.depend
*.def
*.dSYM/
*.rsp
.vscode/
.idea/
*.tlog/
*.lastbuildstate
ipch/
*.pdb
*.idb
*.class
*.exp
*.lib

# CMake
CMakeCache.txt
*.ninja
*.dir/
.ninja_deps
.ninja_log
build/

# Logs
*.log
*.error
*.err
*.log.*

# Editors and IDEs
.vscode/
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# General
*~
*.swp
*.tmp
*.temp
*.bak
*.old
*.orig
*.save
*.sublime-project
*.sublime-workspace
*.directory
.cache/
logs/
*.pid
*.seed
*.pid.lock
*.pid1
*.tar
*.tar.*
*.zip
*.tgz
*.gzip
*.7z
*.rar
*.sublime-project
*.sublime-workspace
*.tmproj

# Distribution / Packaging
*.pkg
*.deb
*.dmg
*.exe
*.tar.gz
*.whl

# JetBrains
.idea/
*.iws
*.iml
.idea/
*/__pycache__
*.hprof

# Jupyter Notebooks
.ipynb_checkpoints
.ipynb

# Custom
results/
